<img src="{{site.owner.avatar}}" class="ctm_profile-image"/><h3 class="ctm_owner-name"> This post was written by <span itemprop="author"/>{{site.owner.name}}</span></h3>
<p class="ctm_owner-bio">{{site.owner.bio}} <em><a href="/about"> More...</a></em></p>
<p class="ctm_twitter-flw"><a href="https://twitter.com/MagicMicky" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @MagicMicky</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
<p style="clear:both"/>